<h1>顯示購物車</h1>
<a href="/products">購物商場</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    {{#each carts}}
    <tbody>
        <tr>
            <td>
                <img src="{{this.items.image}}" style="width:90px; height:40px;">
                <span>{{this.items.name}}</span>
            </td>
            <td>
                $ {{this.items.price}}
            </td>
            <td>
                <form action="/cartItem/{{this.items.id}}/sub" method="post" style="display: inline;">
                    <button class="btn btn-outline-primary">-</button>
                </form>
                <span>{{this.quantity}}</span>
                <form action="/cartItem/{{this.items.id}}/add" method="post" style="display: inline;">
                    <button class="btn btn-outline-primary">+</button>
                </form>
            </td>
            <td>{{this.items.price}} * {{this.quantity}}</td>
            <td>
                <form action="/cartItem/{{this.items.id}}?_method=DELETE" method="POST">
                    <button class="btn btn-outline-ligth" type="submit">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </td>
        </tr>
    </tbody>
    {{/each}}

</table>

<hr>
<div><span>Total: </span> $<span>{{total}}</span></div>

<form action="/orders" method="post" class="mt-5">
    <div class="mb-3">
        <label for="name" class="form-label">購買人姓名</label>
        <input type="text" class="form-control" id="name" name="name">

    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">購買人電話</label>
        <input type="tel" class="form-control" id="phone" name="phone">
    </div>
    <div class="mb-3">
        <label for="address" class="form-label">購買人地址</label>
        <input type="text" class="form-control" id="address" name="address">
    </div>
    <button type="submit" class="btn btn-primary">成立訂單</button>
</form>