<h1>訂單詳情頁面</h1>
{{#each orders}}
{{#if cancelOrder}}
<div class="row mt-5">
    <div class="col-md-8">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {{#each this.items}}
                <tr>
                    <td>{{this.dataValues.name}}</td>
                    <td>{{this.dataValues.OrderItem.dataValues.quantity}}</td>
                    <td>$ <span>{{this.dataValues.price}}</span></td>
                </tr>


            </tbody>
            {{/each}}

            <tfoot>
                <tr>
                    <div>
                        <td>Total: <span>{{this.amount}}</span></td>
                    </div>
                </tr>
            </tfoot>

        </table>



    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">

                <p class="card-text"> 訂單編號: {{this.id}}</p>
                <p class="card-text"> 地址: {{this.address}}</p>
                <p class="card-text"> 電話: {{this.phone}}</p>
                <p class="card-text"> 運送狀態: {{this.shipping_status}}</p>
                <p class="card-text"> 付款狀態: {{this.payment_status}}</p>
                <form action="/order/{{this.id}}/cancel" method="post">
                    <button type="submit" class="btn btn-primary">取消訂單</button>
                </form>
                <a href="#" class="btn btn-primary">立即付款</a>
            </div>
        </div>
    </div>

</div>

<hr>
{{/if}}
{{/each}}